.inputSpan {
  min-width: 5em;
  background-color: blue;
  border: 1px solid black;
  height: 2em;
  margin: 0 3em;
}


.keypad {
	background-color: #ee1515;
	border-radius: 5px;
	padding: 3px;
	position: absolute;
}

.keybutton:hover {
	box-shadow: 0 0 5px 2px;
}

.keybutton:active {
	background: rgb(254, 252, 234);
	background: -moz-radial-gradient(center, ellipse cover, rgba(254, 252, 234, 1) 0%, rgba(241, 218, 54, 1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(254, 252, 234, 1) 0%, rgba(241, 218, 54, 1) 100%);
	background: radial-gradient(ellipse at center, rgba(254, 252, 234, 1) 0%, rgba(241, 218, 54, 1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36', GradientType=1);
}

.keybutton {
	color: black;
	text-decoration: none;
	display: block;
	font-weight: bold;
	font-family: sans-serif;
	border-radius: 5px;
	min-width: 1.2em;
	border: 1px solid black;
	text-align: center;
	background: #a9e4f7;
	background: -moz-radial-gradient(center, ellipse cover, #a9e4f7 0%, #0fb4e7 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #a9e4f7 0%, #0fb4e7 100%);
	background: radial-gradient(ellipse at center, #a9e4f7 0%, #0fb4e7 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7', GradientType=1);
}
